h2
{
    margin-top: 30px;
    padding-bottom: 20px;
}

.AllBooks
{
   overflow: auto;
   margin-top: 50px;
   width: 45%;
   height: 400px;
}

.ButtonClassSuper
{
    margin-top: 380px;
}

.buttons1
{
    width: 150px;
}